.container{
  width: 250px;
  height: 250px;
  background-color: antiquewhite;
  border-radius: 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAACUCAMAAADyHdbUAAAAaVBMVEX///8AAAD+/v77+/vFxcUEBATJycn4+Pj19fXi4uLU1NQMDAzl5eXu7u4nJyeqqqqfn5++vr5PT09fX18vLy84ODghISGBgYHa2tqwsLCNjY1mZmYXFxdDQ0OTk5O3t7dxcXF5eXlXV1fTPW8LAAAODUlEQVR4nM0dDZuyIAzBxM/UyrLM7Pr/P/JlG5ZeXYHYW7vnuafrFDY2tjHGYGwm4Bx/8V9f8vFX/Prry4AzLgTnArDlMsyiOg7Kbp8XCvJ96QdxnWahhP8KTRT/KjquIy3SuCsOzWrjjSGpLs2u6OJUsp5R30YAIO8XP+t2q3FeLOjX4krFYts2P4Wffhrbx5B1u9WGkF14D4G+Tjarny77NLYauGAo9gr75jhCEz8lGhZ3VBybfcZo3nx4MgiFRhb/HAeoHzft5bw75WVQ11GaplEdlHmxay7t5jgg4vgTZ5zRvP8YgOBH+yZBYQe0lJDvcr/OZP+EDK+fssjPdw1NEXw4afYRsPAzuGuoi9Vt8C+nDkaVaa2kBCTY7QL4oIDwzOLutKbZDWSviugz6gjQUx1Hp1XSq5t1QTqyt2nwTKq06SbjY3sm07gAGlA/JatTBHIk4C3x//AX0JvI237wk0McPug+gP8F90PMw/iQ9Jxr81Dbt/+Beo+BIqCrtGLZrkv4iom7CVkCd0r2278guS8vvcVoO0T/P84G1Vm907JT/fhqBAUw5U4jagLGvAGBQVJD/6fSs/9QK4b+n8lA8p2B9AD6y0MQsl4C7qTAh4fuOdB7Q0wGu2UvRxn7Tw4GDHV9PtLwN4F89qwPAuI/Q0oGZ5oLx3ONWvndBAD32b4i8VmVmfr7ydM9AX9jJVhWrogJVU6j82bgLDyR+jgeAH3uRoBU/wwPRyLhkLGnzbkCii2L1zj8yRpNkDASoSfDCqsIFq0TJOESs3cuFGCmCs3w6mTiUBoQQLorO1XY7MpHu/0mEsBc7jc0VOXTke/BgACGRptJ/4ImoeoEex8BjBVke86RNOrDjAAy7OkZRXNbvFEViSJB7XOShpPttRoFQL9PSFnQ5CreYtFgqskTis92z+7jD4/Bh+eNRAif6bb9+LzBMxJK26H/2PrmL5XAgd+W+G/gfos8UOp09nkgWEjyr/SEedsB4PPAG/2rEx5caB6Esy/UOCuOOP4xZ8Z+u8iUzl1lNrYpJh7k81oDlE+cv1XMZBSZGhsu0q5LzQYThD6tQ1ZX0M+xm3OBo1QEC3A9vq0ZaLtOMdtMjxoDyOU+8c4pS3EmHwNUTvN0ohRQjN5zGyhNCoTk8ysJTi0X2BfKKnvuZ1mAwGFfeJtSeXKgrJUmDecmIMy3gDdM33IDn87ZPJoIVHSoFrALb7kH7UyzbJkbDY45AiJfQrttwKUI9+qzUqazDBKunErA3zuQ+wPjo3iQ89cDpHRvWb52kZUnxNT4J8BjsMJcHoDNSTmHTwFWMqoA/6YPUQW0CsxfvyyyJknUe68mjMIfvYhloB8NG1R5kSPyhARna2htk+rdCTXLkNsbAzUXw7yMXz2nBBN15zK+kpqh07t2Rx9azJGfPpOCvpAsgIBKa+APPQyrPCIAwntVAHoHO1FqG82OAZdf4x+hVjsJPToYUAhW27Zjry2U9kZfcEAxuWu3q0DHy/AbjtNACZGzwg53yMzRpoQQkV9jOPDFy5qAFwDOdO1HA5FUJixdw7jt3DURKuVjOfIeKIBj4LYbEqB3pwYEqI8++I4b31UTZRC2SU7jBSRIquAGixozAsh3HjoOankjRAHee5M6EADu1B58oEs0FmMKnhvsrRgSwMnvGQ6IkCy6AO9zQQueKaAGJgX1AM7ttBYM18QPQak/sJ+rlD0Pnj1tQuwBg3U21atyIoCHOI/3jE/UROo1tSBZQIBfTHSenQgQFBteZZNZgDZMzQAdO58AbgRwdiGfZWKYQg3BlhgwWQ+4iZCAHR41j6caMw5BBWXDjGJwj8GFAOC7bHRYYyIPG2BAOaVzDY4c0EPYTHUnwOv85URYgtsckJyjQ6G8bPu3wdKecI3nYsndOMD7hfJhwixUb6QQL8a19YTuCZzmAAKu8C/2UgDkl2rlpdzByX2zOQgAZ9hbdtbvQZD+QK+6+OPOBKiVAgzjwVoTKg8d588q+iwBgkXgDKwjS48OV12wEDgzpz0rdw5wBv78JmCWgUZBITjlhzpF6mcQIfBJMWBnp0sky8AIblK3TUN3AgSPQBKazHIc1XIC8g4b8WkClOSAP7CJrAlAP6qY2rEGdzWq4KQ9SqtWBC/oNTeYhQBMOrJ1CLg4AwFOVozNRIDEjV27NQFnIZjw1qVfgFkIYBCabTOrVjivYUH947rJMw8BP6qRo61Fxa4L1x3neQgoprSSu65lEOYhAFux27fkDJzAY+3UL5uLgBqCazvLSazt8FeIEGwWeBfLl8B+r8IvIQDCgxvLfEDwoBpXMzATAbDh5CWWBIAj8SO/ggNcgh717AiQQMBhNgKcGhGwael5diYpo11z+fstyxgjEvDUoRoHbgWEUu66pNCE3cI+Ql9UcFn7gd+D+lTbDSYScApuTYwhCKJR0jfmsKdlMOwyCGFtpYxSZMVIJCDnIabVDuFkS8Af52l6KIZbhbB3Xvx+4hzynAiwgYiMH3iyYwxaK076d++PAPaG5UAsIeOm1Tnl1yeUCGKQ3I4D9YCAQXOe5e55/HT0IW99OQzdQwJp640ObjkQACKU3YmQ1RqNh81TCjwSocELnN2J0M9VhCznAIYCQpjEwQ1qq80mLmQd/A04ieWIA4Im8eCZONQBUjsCMtJC99hahcjudeIdjA4d8PszIEAUEZBNMGR4zI3OIOE5JG6yuT1qBk9riFsTI2B6r3bAATr8xPitS0jGQUNmGV2EV3byLqA3a54Wf9DiXQeKBOVKqDlg6ZAAAY2zNzoPoDNnSwC44Cs7sXsbhBDf3VgSAJsbmy85N5vSgsZuRaaXlF/BgVgvKa3WxGj8XB3hmUAv6u38aYrnfQcBaAYCuznAI2Db+TsIgCjn0TaDEUOL1XcQAAGGNrQUoXmCu84AYqODu3YpP5xrwfswgJ8R0xy2fFGvBt+ClQ0eyjEq+g0OmxcFw62ptXNcwhHAGcQgYWR5SFHAJp9OPP1/B8Uf4MH1Zp3d9gBus4Ipw7Msn+SBGr0CgoQ5ZGba7XRjkjpscXy0bILe6IaEGzs01NORTjX4LAGQauBh0pI1GuIAuUbde0/4vgLOuyWtDSdAn27zUQ5MTbcB6BOePkgAHdmZkvCEgGc/nVLOnIECEqeJgxhvXJP+nAD0ZromHTRNk3CMq3WfMgTgvlHapUF86RFwCi43DomvTiA4lzpzdeIYcrb9pEvKGaXMbKeqkf4A02rmeJY5ApT8vZ+as6REENLvF3AM6QPzYJB+P7UF1cQe07/Vcu7/m2M8AOEhAyY3oZMeE9uQxiwgKN3PbktoBFwfAlrAIaAPzAJ9CMhFCUICdaPP8Q1XNrqW0Gxs4fpc16BjyehIq9MxLGyphAXRsRSjcyyS6hvNBIg/G55LA6XhH/EMtus2P7mDyqEYNsNFFNQTzePDXpioccv41gHHJS1sUbjxGeZxNToMikCHQWcjQLCuPa6C4VFEfprpMKhibo6VHgLNYUyrhuO4K+HI3RtIhsdxfXYrReonZMOcV7SANR6v3tAZfRBXOhBdzVc1gYsKDqRvY31Ksz9Evp6hfXAJIzxFf3XqAsTfy002IQ07QYOpFrA+7bQy2l/eRO7tE09RIehTCKKsdFGA2RwM2F3NsRxG5WPhW10UwGczVN/AEQlPRyrLwPriJ8tcGkvQ66ekEGG+BClqYygDBCUavOMhnMOBod6zvjAG7ppDYQzJDQJNWPDS6Cinslx7KowhqTAGZdzPZCohQtzq0jC6NIlZsBtrIZsdxFQP4a5WgSUHqIzObD4wak5Ua9tUF4cx06BUxdlMk6uH1ExuVAdYsQ2Kw0w9Q/sYj72iIMHyPHXEMFHAACmRlqVZeR4c7rSWujxP0rEZq0ei7wZBVuBsTarVKE7AqUCSkTfAydu6FkgSjodH7tuXVKLqEliVqMI1tREB4LxDiSoPS1TNv4SSLKQira1vnnPzsN7oY1DWizEfyxglp3A2K38FwYECTKFa7qlDA/ApKmJCMLRH1sw7hGa61w4keCm42aBc05AylV6+pOvMGYBqC6po6kJ57yr2x6FUIYzRORLcoL6QaeoxmAoewU4Glip8X9FRxYNOF4v0jbScYbFIJZ6ivOD4b7CM1NsIUFiXWCjbq4rUvLrNKwLEoFynFG8s4AzF2USMms5LLgY1u02z168FU2swB++tW6tz8LBkrdIWkpydP3p8TgAWvFXIZgddVP7wupqVM6C5HBQNvl1J8QieE0BZiaFPQqmk8n/UDKbwUHzWZX7PvmRPjM4rDkDx7LPmZ1Nj/d23U4D5niLLNROWOyqc/fjhV3NABrvtrXA28vLtQUyqltCXLl/cSpeT58xGxDwwZJx+QBIlli7HcdjVos97fTcBV6Di8XhrwqUUTE8GNvIh730hIF9nkHTrrW6g6j6xm67GcH9N9ofy/cCCX0sQ5Y0mQ2+U0301UL5/p+9IAemRc6zereF2gQJCcrtA4QbRErJPf4kFXqDg9ZdewAUKz/TA+4Dkha6wIFy8NVxhMXhAiOBwGK8f4AoLrDBNhxzwCgvxjhrBZgBSH+2bxZUGvESkrG9Vam/noIaXiNDDyRkuEfkwgNrrr3HRowrXuDS7Aq5xoVtc4BqX0+Aal0V/jUv66StQGOlOoGHfbDUNTy/S6T8dmzxj8y56pxHAbicYUrjKKPH+hsXgKiNIY5151e4EGhF9mdTfB6+++jIpsk50ndd5Vf1CPaku5wNc5/XxWfs3oDBhyAgvVIvV1L1eqBbjhWpXd+FrRGcEOpA7QG74N91YRtHeOXXPP39xi5OfEpoKAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.num2{
  color : rgb(238, 42, 20);
  font-weight: 900;
  font-size: larger;
}

.loading{
  border: 5px dotted black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation : loading 3s ease-out infinite;
}

@keyframes loading{
  100%{
    transform: rotate(360deg);
  }
}

.model{
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 3px 5px black;
  position: fixed;
  top: 40%;
  left : 40%;
  width : 20rem;
  height: 2rem;
  background-color: cadetblue;
  animation : notification 1s ease-in 1;
}

@keyframes notification{
  0%{
    top : -10%;
  }
  100%{
    top: 40%;
    left : 40%;
  }
}