.main__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.btn__container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.tabBtn{
    border : none;
    margin : 10px;
    background-color: white;
}


.tab{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding : 10px 100px
}

.stylingTab{
    text-decoration: underline;
    text-decoration-color: rgb(182, 182, 228);
    text-decoration-thickness: 2px;
    transform: scale(1.4);
    border : 2px solid rgb(143, 143, 213)

}