html{
    font-size: 62.5%;
}

.navbar{
    height : 10vh;
    position:fixed;
    top : 0;
    left: 0;
    right : 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    background-color: rgb(196, 246, 255);
}
    


/*styling image*/

.navbar-img{
    padding : 0px 0px 25px 30px;

}

/*----Styling nav links */

nav ul{
    padding : 40px;
    display: flex;
    gap : 30px;
}

nav ul li{
    display: flex;
    list-style-type: none;
    position: relative;
    left : -60px;
    bottom : 30px
}

nav ul li a{
    text-decoration: none;
    color : black;
    font-size: 1.3rem;
    font-weight: 500;
}


/*styling nav logos*/

.nav-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right : 80px
}

nav{
    display : flex;
    gap : 30px;
}

.nav-logos nav i{
    font-size: 1.4rem;
}

/* hamburger menu bar styling */
.hamburgerMenuBar{
    width : 6rem;
    height : 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

#birdClose{
    font-size: 3rem;
}


/* sidebar styling */
.sidebarContainer{
    position: fixed;
    top : 0;
    right : 0;
    background-color: rgb(255, 255, 255 , 0.1);
    height: 100vh;
    width : 250px;
    z-index: 1001;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.sidebarContainer ul{
    list-style-type: none;
    padding: 3rem 0px;
}

.sidebarContainer  ul li{
    width: 100%;
    padding: 1rem;
}
.sidebarContainer  ul li a{
    text-decoration: none;
    color : black;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2rem;
}

.sidebarContainer  ul li a:hover{
    font-size: 2.5rem;
    color : white
}

.hideClass{
    display: none;
}