html{
    font-size: 62.5%;
}

body{
    /* background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/27/84/4c/88/caption.jpg?w=1200&h=900&s=1&cx=984&cy=523&chk=v1_00dace674f6f45c8ec71");
    width: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-image: radial-gradient(); */
    /* background-image: radial-gradient( #800000, #ab3c3c, #e0e0e0); */
    background-color: #e0e0e0;
    padding: 10px;
}



.navbar{
    height : 10vh;
    position:fixed;
    top : 12px;
    left: 0;
    right : 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #800000;
    box-sizing: border-box;
    /* background-color: rgb(196, 246, 255); */
    border-radius: 30px;
  
}
    


/*styling image*/

.navbar-img{
    padding : 0px 0px 1rem 2rem;
}

/*----Styling nav links */

nav .navbarUL{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap : 1.7rem;
    
}

nav .navbarUL li{
    list-style-type: none;
}

nav .navbarUL li a{
    text-decoration: none;
    color : black;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
    color : #fff
}

nav .navbarUL li a:hover{
    background-color: rgb(176, 230, 241);
}

@media (max-width : 668px) {
    nav .navbarUL li a{
        font-size: 1.5rem;
    }
}



/* hamburger menu bar styling */
.hamburgerMenuBar{
    width : 4rem;
    height : 4rem;
    cursor: pointer;
    display: none;
}

#birdClose{
    font-size: 3rem;
}

.fa-bars{
    font-size: 3rem;
}

@media (max-width : 700px){
    .navbar{
        padding: 1rem;
    }
    
    nav .navbarUL{
        display: none;
    }
    .navbar-img{
    width: 5rem ;
    padding : 2rem 0rem;

}
    .hamburgerMenuBar{
        display: block;
    }
}

 


/* sidebar styling */
.sidebarContainer{
    position: fixed;
    top : 0;
    right : 0;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width : 250px;
    z-index: 1001;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.hideClass{
    display: none;
}

@media (min-width : 700px){
    .sidebarContainer{
        display: none;
    }
}



.sidebarContainer .sidebarUL{
    list-style-type: none;
    padding: 3rem 0px;
}

.sidebarContainer  .sidebarUL li{
    width: 100%;
    padding: 1rem;
}
.sidebarContainer  .sidebarUL li a{
    text-decoration: none;
    color : black;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2rem;
}

.sidebarContainer  .sidebarUL li a:hover{
    font-size: 2.5rem;
}

.bc{
    width: 80px;
    height: 80px;
    align-self: center;
    padding-top: 10px;
    border-radius: 9%;

}

.navbar-img{
    align-self: center;
}