html{
    font-size: 62.5%;
}
.navbar{
    height : 10vh;
    position:fixed;
    top : 0;
    left: 0;
    right : 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    background-color: rgb(196, 246, 255);
}
    


/*styling image*/

.navbar-img{
    padding : 0px 0px 1rem 2rem;

}

/*----Styling nav links */

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap : 1.7rem;
}

nav ul li{
    list-style-type: none;
    left : -6rem;
}

nav ul li a{
    text-decoration: none;
    color : black;
    font-size: 2rem;
    font-weight: 500;
}

@media (max-width : 668px) {
    nav ul li a{
        font-size: 1.5rem;
    }
}



/* hamburger menu bar styling */
.hamburgerMenuBar{
    width : 4rem;
    height : 4rem;
    cursor: pointer;
    display: none;
}

#birdClose{
    font-size: 3rem;
}

@media (max-width : 500px){
    
    nav ul{
        display: none;
    }
    .navbar-img{
    width: 5rem ;
    padding : 2rem 0rem;

}
    .hamburgerMenuBar{
        display: block;
    }
}

/* sidebar styling */
.sidebarContainer{
    position: fixed;
    top : 0;
    right : 0;
    background-color: rgba(219, 112, 112, 0.1);
    height: 100vh;
    width : 250px;
    z-index: 1001;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    /* display: none; */
}

.sidebarContainer ul{
    list-style-type: none;
    padding: 3rem 0px;
}

.sidebarContainer  ul li{
    width: 100%;
    padding: 1rem;
}
.sidebarContainer  ul li a{
    text-decoration: none;
    color : black;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 2rem;
}

.sidebarContainer  ul li a:hover{
    font-size: 2.5rem;
    color : white
}

.hideClass{
    display: none;
}