*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(210, 174, 174);
}

html{
  font-size: 62.5%;
}



.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 2rem;
  height: 40rem;
}

label , input{
  font-size: 2rem;
}


.btn-container{
  display: flex;
  gap : 1rem;
}

button{
  padding : 1rem;
  border-radius: 4px;
}

button:hover{
  transform: translateY(-4px);
}

button:active{
  background-color: burlywood;
}

#result {
  font-size: 1.5rem;
  font-weight: bolder;
  border: 2px solid white
}

@media (max-width : 420px){
    html{
        font-size: 50%;
    }
    .container{
        height : 60rem
    }
}

@media (max-width : 344px){
    html{
        font-size: 40%;
    }
}